@import 'variables';
@import 'base';
@import 'utilities';

/*PAGES*/
@import 'about';
@import 'projects';
@import 'cv';
@import 'growdiv';
@import 'shoppinglist';
@import 'accordion';


/* ==== MOBILE FIRST ===== */
.burger-container {
	background-color: $colorset2;
	height: 50px;
}

.logo {
	position: absolute;
    top: 10px;
    left: 10px;

	h1 {
		color: $light;
		font-size: 1.8em;
		line-height: 1.2;
		margin: 0;
		padding: 0 .2em 0;
	}
}

.burger-menu {
		position: relative;
		position: absolute;
		top: 5px;
		right: 0;
		cursor: pointer;
		width: 40px;
		height: 40px;
		background-color: $colorset2;

		.menubar {
			position: absolute;
			background-color: $light;
			border-radius:50px;
			transform: translate(-50%, -50%);
			top: 50%;
			right: 0;
			width: 25px;
			height: 3px;
			box-shadow: 0 2px 5px rgba(0,0,0,.2);
			transition: all 0.2s ease-out;
			
			&:before,
			&:after {
				content: '';
				position: absolute;
				border-radius:50px;
				width: 25px;
				height: 3px;
				background-color: $light;
				box-shadow: 0 2px 5px rgba(0,0,0,.2);
				transition: all .3s ease-out;
			}

			&:before {
				top: -10px;
			}

			&:after {
				top: 10px;
			}

		}
}

.burger-menu.active .menubar {
		background-color: $colorset2;
		box-shadow: 0 2px 5px rgba(0,0,0,0);

		&:before {
			transform: rotate(45deg);
			top: 0;
		}

		&:after {
			transform: rotate(135deg);
			top: 0;
		}
}

.social-media,
.contact,
header,
.nav-items {
		display: none;
	}



// ======== NAV ON MOBILE ============
.nav-itemsMobile {
	display: none;
	list-style: none;
	font-size: 1.5em;
	margin:0;
	padding: 0;
	background-color: $colorset2;

	li {

		a {
			color: $light;
			display: block;
			font-weight: bold;
			padding: .5em .8em;
			transition: all .5s ease-out;
			width:100%;

			&:hover {
				background-color: $light;
				color: $dark;
			}
		}
	}
}

// ====== HERO STYLES ==========

.parallax {
	background: url("/images/hero.jpg") no-repeat;
	background-size: cover;
}

.hero {
	border-bottom: 5px solid $colorset2;
	height: 35em;
	
	.hero-content {
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
		position: relative;
		height: 100%;
		margin: 0 auto;
		text-align:center;
		width: 100%;

		.heroh1 {
			background: rgba(156,138,165, .5);
			padding: .5em .5em;
			border-top-right-radius: 25px;
			border-top-left-radius: 25px;
			color: $light;
			line-height: 1.2;
			font-size: 2.2em;
			width: 90%;
		}

		.heroh2 {
			background: rgba(156,138,165, .5);
			padding:0 .5em .5em;
			color: $light;
			border-bottom-right-radius: 25px;
			border-bottom-left-radius: 25px;
			margin: 0;
			width: 90%;
		}

		a .fa {
			color: $light;
			font-size:3em;
			position: absolute;
			transition: all .5s ease-out;
			top: 80%;
			left: 45%;

			&:hover {
			color: $colorset2;
			}
		}
	}
}

// ========= RECENT WORK STYLES ================


.recent-work {
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;

	.recent-work-container {
		position: relative;
		margin-bottom: 3em;
		overflow: hidden;

		img {
			display: block;
    		max-width: 100%;
    		opacity: 1;
    		height: auto;
			transition: .5s ease;
		}

		&:hover img {
				transform: scale(1.5);
				opacity: 0.3;
			}

		&:hover .text-container {
			  opacity: 1;
			}

		.text-container {
			position: absolute;
			transition: .5s ease;
			transform: translate(-50%, -50%);
  			-ms-transform: translate(-50%, -50%);
			opacity: 0;
			top: 50%;
			left: 50%;
			width: 80%;
			background-color: $light;

			.text {
				width: 70%;
				color: $dark;
				padding-bottom: 1em;

				.button {
					display: block;
					background-color: $colorset2;
					transition: all .5s ease-out;
					border: 3px solid $colorset2;
					font-weight: bold;
					color: $light;
					margin: 1em auto;
					padding: 1.2em;
					width: 70%;
				}
			 }

		}
	}

}


// ================ JS PROJECTS ==================


.jsprojects {
		@extend .recent-work;
		margin-bottom: 2em;

		.js-container {
			@extend .recent-work-container;
		}
}

footer {
	background-color: $colorset1;
	font-size: .7em;
	padding: 5em 0;
	text-align: center;
}



/* ===== TABLET CODE  768px ====== */

@media screen and (min-width: $breakpoint-tablet) {
	
	body {
	font-size: 16px;
	}

	header {
		display: block;;
		width: 100%;
	}

	.social-media {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		padding: 1em;
		text-align:right;

		.fa {
			font-size: 2em;
			color: $light;
			padding-right:.3em;
			transition: all .5s ease-out;

			&:hover {
				color: $colorset1;
				transform: rotate(20deg);
			}
		}
	}

	.contact {
		display:block;
		position: absolute;
		top:17px;
		right: 200px;
		font-size: 1.2em;

		.fa {
			font-size: 1.5em;
			color: $light;
			padding-left: .2em;
			transition: all .5s ease-out;

			&:hover {
				color: $colorset1;
			}
		}
	}

	.burger-menu {
		display: none;
	}
	
	.nav-items {
		list-style: none;
		background-color: $colorset2;
		display: flex;
		margin: 0;
		padding: 0;
		font-size: 1em;
		width: 100%;

		li {
			height:35px;
			margin: 0 .2em;
			a {
				color: $light;
				padding: 0 1em;
				border-top-right-radius: 15px;
				border-top-left-radius: 15px;
				transition: all .5s ease-out;
				font-weight: 700;
			}

			a:after {
					content: "";
					display: block;
					width: 0px;
					margin-left: 10px;
					border-bottom: 4px solid white;
					transition: all ease-in .5s;
				}

				a:hover:after {
					width: 80%;
				}
		}

	}

	.nav-itemsMobile {
			display: none!important;
		}

	/* === HERO CONTAINER === */

	.hero {
	height: 32em;
		
		.hero-content {
			
			.fa {
				font-size:2.5em;
				top: 100%;
			}
		}
	}

	main {
		padding: 3em;
	}


	.recent-work-title {
		padding: 1em 3em;
	}
	.recent-work {
		padding: .5em 3em;
	}

/* -- Containers -- */

	.content-container {
		width: 90%;
	}

	.recent-work {
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 1em;
		
		.recent-work-container {
			flex-basis:47%;
			margin-bottom: 1em;

			.recent-work-description {
				margin: .2em;
			}

				.text-container .text {
					width:100%;
					padding: 1em;
    				text-align: center;
					
					.button {
						padding: .5em;
						text-align: center;
					}
				}
		}
	}


}

/* ==== DESKTOP CODE  860px ===== */

@media screen and (min-width: $breakpoint-desktop) {
    
    body {
	font-size: 18px;
	}

	header {
		margin: 0 auto;
	}

	.burger-container {
		position: fixed;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 60px;
	}

	.active {
	box-shadow: 0 1px 3px #EEEEEE;
	}

	.nav-items {
		position: fixed;
		z-index: 1;
		top: 0;
		padding: 0;
		background: none;
		left: 13em;

		li {
			margin: 1em 0 0;
			a {
				color: $light;
				padding: .5em 1em;
				transition: all .2s ease-out;
				font-weight: 700;
			
				&:hover {
					color: $light;
					text-decoration: none;
				}

			}

			a:after {
					margin-left: 1em;
				}

				a:hover:after {
					width: 60%;
				}
		}

	}


	.social-media,
	.contact {
		position: fixed;
		z-index: 3;
	}
	.contact {
		top: 10px;
		right: 220px;
	}
	.social-media {
		padding-top: .5em;
	}

	/* -- Containers -- */

	.content-container {
		width: 80%;
	}

	.hero {
		height:29em;
		margin-top: 60px;
		.hero-content {
			padding: 4em 2em;
			width: 80%;
		}
	}
    
}

/* ==== LG DESKTOP CODE  1200px  ==== */
@media screen and (min-width: $breakpoint-desktop-lg) {
    
    body {
	font-size: 20px;
	}

	/* -- Containers -- */

	.content-container {
		width: 60%;
	}
	
	.contact {
		margin-right: 1em;
	}
    
}