/* -- Grow Div -- */
.size-container {
	background-color: #efefef;

	@media screen and (min-width: $breakpoint-desktop) {
		margin-top: 80px;
	}

	.size {
	  background-color: rebeccapurple;
	  width: 0;
	  height: 100px;
	  margin: 5% 0;
	  transition: all ease 1.5s;
	}
}

.grow-shrinkbtn {
	border:3px solid $colorset2;
	outline: none;
	background-color: $light;
	width: 33%;
	text-align: center;
	padding: 1em;
    margin: 0 auto;
    transition: all .5s ease-out;

    &:hover {
    border-color: $colorset2;
	background-color: $colorset2;
    }
}