
@@include('_header.html', { "pageTitle": "About Aimee" })  

<div class="hero-about">
</div>
<div class="content-container">
	
	<div class="profile-container">
		<img src="images/profilepic.jpg" class="profile-img" alt="imageofAimee">
		<div class="bio">
			<h1>About Aimee</h1>
			<hr>
			<p>"I'm Aimee a self taught Front-end Web Developer, I also do a bit of design work too, as you can see I designed this website. I'm a creative individual with a strong background in HTML and CSS. Currently learning Angular in my spare time."</p>

			<p>"I’m passionate about clean looking websites that work really well on all devices. I love designing with HTML, CSS and also using Javascript and jQuery to bring more functionally and interaction to a site. I enjoy figuring out the problems I come across, like piecing together pieces of a jigsaw. I enjoy building sites from scratch but can also use frameworks such as Bootstrap."</p>
			
			<h2>What can I do for you</h2>
			<p>Aimee Tacchi Web Design can help small businesses, organisations or individuals grow their presence and profits online. Offering clean, simple and responsive websites that are optimized for all devices from your PC, laptop, tablets and mobile phones. About 50% of people now are surfing the net from a mobile device so it's really good to get a responsive website. Google have also put mobile websites above other websites that aren't optimized for their search rankings now.</p>
		</div>
	</div>
	<div class="skill-info">
		<h2>My Dev Skills</h2>
		<hr>
		<ul class="devSkillsList">
			<li><i class="fa fa-html5" aria-hidden="true"></i> - HTML5</li>
			<li><i class="fa fa-css3" aria-hidden="true"></i> - CSS3/Sass</li>
			<li> <i class="fa fa-code" aria-hidden="true"></i> - Bootstrap</li>
			<li> <i class="fa fa-code" aria-hidden="true"></i> - Javascript</li>
			<li> <i class="fa fa-code" aria-hidden="true"></i> - jQuery</li>
			<li> <i class="fa fa-git" aria-hidden="true"></i> - Git</li>
		</ul>

		<h2> My Design Skills</h2>
		<hr>
		<p>Adobe Photoshop Illustrator</p>

		<p>To see my work please visit my portfolio page. If you are interested in having a website made please contact me.</p>
	</div>
</div>
  @@include('_footer.html')