@@include('_header.html', { "pageTitle": "About Aimee" })  
<div class="hero-about">
</div>

<div class="content-container">
	
	<div class="profile-container">
		<img src="images/profilepic.jpg" class="profile-img" alt="imageofAimee">
		<div class="bio">
			<h1>About Aimee</h1>
			<p>Aimee Tacchi Web Design can help small businesses, organisations or individuals grow their presence and profits online. Offering clean and simple websites that are optimized for all devices from your PC, laptop, tablets and mobile phones. About 50% of people now are surfing the net from a mobile device so it's really good to get a responsive website. Google have also put mobile websites above other websites that aren't optimized in their search rankings now.</p>

			<p>"I'm Aimee a self taught Front-end Web Developer, I also do a bit of design work too, as you can see I designed this website. I'm accomplished and creative individual with a strong background in HTML and CSS. Currently learning Angular in my spare time. I really enjoy designing websites on Photoshop and coding also keeps my mind busy, I enjoy figuring out the problems I come across, like peicing together pieces of a jigsaw. Another interest I also have is digital photography."</p>
		</div>
	</div>
	<div class="skill-info">
		<h2>My Dev Skills</h2>

		<p>HTML, Css/Sass, Bootstrap, JavaScript, Jquery, Git</p>

		<h2> My Design Skills</h2>

		<p>Adobe Photoshop, Illustrator</p>

		<p>To see my work please visit my portfolio page. If you are interested in having a website made please contact me.</p>
	</div>
</div>
  @@include('_footer.html')