@@include('_header.html', { "pageTitle": "Front-end developer" })

<div class="hero parallax">
	<div class="hero-content">
		<h1 class="heroh1 margin-top-sm margin-bottom-none">Need a Website? I'm Aimee, a Front-end Web Developer</h1>
		<h2 class="heroh2 margin-top-sm">Building responsive websites</h2>
		<a href="#recentwork" class="scrolltoRW"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
	</div>
</div>

<div class="content-container">
	<main>
		<h3>"I’m passionate about clean looking websites that work really well on all devices."</h3>
		<hr>
		<p>I'm a Front-End Web Developer, based in Dunstable, Bedfordshire, I design and develop simple and stylish
			responsive websites for small businesses, organisations or individuals, at affordable prices.</p>
		<p>I am always looking for new projects and would love to work with you and bring your dream to life. Feel free to <a
			 href="mailto:aimeetacchi@hotmail.co.uk?Subject=Hello" target="_top"><strong>contact me</strong></a> and we can talk
			about it, I am here to help you with your needs.</p>
	</main>

	<div id="recentwork" class="recent-work-title">
		<h3>Recent Work</h3>
		<hr>
		<p>Take a look at my <a href="projects.html">portfolio</a> of all work I have perviously done for clients and
			friends.</p>
	</div>

	<div class="recent-work">

		<div class="recent-work-container">

			<img src="images/pieintheskywebsite.jpg" alt="pieinthesky">

			<div class="text-container">

				<div class="text">

					<h4 class="margin-bottom-none">Pie in the Sky Tea Rooms</h4>
					<p class="recent-work-description">A Cute little Tea Room in Hemel Hemstead</p>
					<a class="button" href="pieinthesky.html">View</a>

				</div>
			</div>
		</div>

		<div class="recent-work-container">
			<img src="images/louthtownhallwebsite.jpg" alt="louthtownhall">
			<div class="text-container">
				<div class="text">
					<h4 class="margin-bottom-none">Louth Town Hall</h4>
					<p class="recent-work-description">A venue for booking live music, and weddings</p>
					<a class="button" href="louthtownhall.html">View</a>
				</div>
			</div>
		</div>
	</div>

	<div id="recentwork" class="recent-work-title">
		<h3>JavaScript Projects</h3>
		<hr>
		<p>These are just some small projects to pratice my javascript/jQuery skills. More can be <a href="projects.html">
				viewed here</a></p>
	</div>

	<div class="jsprojects">
		<div class="js-container">
			<img src="images/twitchAPI.jpg" alt="FreeCodeCamp Twitch API project">
			<div class="text-container">
				<div class="text">
					<h4 class="margin-bottom-none">Twitch API</h4>
					<p class="recent-work-description">FreeCodeCamp to use the Twitch API to show a bunch of users</p>
					<a class="button" target="_blank" href="https://codepen.io/darkxangel84/full/OOYGBV/">View</a>
				</div>
			</div>
		</div>

		<div class="js-container">
			<img src="images/weatherAPI.jpg" alt="FreeCodeCamp Weather API">
			<div class="text-container">
				<div class="text">
					<h4 class="margin-bottom-none">Weather API</h4>
					<p class="recent-work-description">FreeCodeCamp Project using a weather API to get the local weather</p>
					<a class="button" target="_blank" href="https://codepen.io/darkxangel84/full/OOVBrj/">View</a>
				</div>
			</div>
		</div>
	</div>

	<div class="jsprojects">
		<div class="js-container">
			<img src="images/jsmovingdiv.jpg" alt="mygrowningdiv">
			<div class="text-container">
				<div class="text">
					<h4 class="margin-bottom-none">My growing div</h4>
					<p class="recent-work-description">A small project to pratice my Javascript skills</p>
					<a class="button" href="jsprojectone.html">View</a>
				</div>
			</div>
		</div>

		<div class="js-container">
			<img src="images/jsquiz.jpg" alt="myquiz">
			<div class="text-container">
				<div class="text">
					<h4 class="margin-bottom-none">Doctor Who Quiz</h4>
					<p class="recent-work-description">Just a small quiz to pratice my Javascript skills</p>
					<a class="button" href="jsquiz.html">View</a>
				</div>
			</div>
		</div>
	</div>
</div>
@@include('_footer.html')