@@include('_header.html', { "pageTitle": "Projects - My Growing Div" })  

<div class="border"></div>
<div class="content-container">
	<div class="size-container">
		<div id="growme" class="size"></div>
	</div>
	<h1>An expanding &amp; shrinking bar</h1>
	<div class="center">
	<button class="grow-shrinkbtn" id="myButton"><strong>Grow</strong></button>
	<button class="grow-shrinkbtn" id="myButtonTwo"><strong>Shrink</strong></button>
	</div>
	<p>This is one of my first JS projects I decided to make. It's just something small and fun.</p>
	<p>Skills: HTML, CSS, Javascript</p>
	<p>To see the code please visit my <a href="https://github.com/darkxangel84/Javascript/blob/master/Expanding_Div_With_JS/js/app.js" target="_blank"><strong>Github</strong></a></p>
</div>
  @@include('_footer.html')