@@include('_header.html', { "pageTitle": "Projects - My Shopping List" })  

<div class="content-container">

	<div class="faq">
		<h3>FAQ Accordion</h3>

		 <div class="question">
		  What Does HTML stand for?
		</div>
	  	<div class="answer">
			<p><strong>Hypertext Markup Language</strong>, a standardized system for tagging text files to achieve font, colour, graphic, and hyperlink effects on World Wide Web pages.</p>
		</div>
		
		<div class="question">
	    What is CSS?
	  	</div>
		<div class="answer">
			<p><strong>CSS - Cascading Style Sheets</strong> is the language for describing the presentation of Web pages, including colors, layout, and fonts. It allows one to adapt the presentation to different types of devices, such as large screens, small screens, or printers. CSS is independent of HTML and can be used with any XML-based markup language.</p>
		</div>
		
		<div class="question">
	  	What is Javascript used for?
	  	</div>
		<div class="answer">
			<p><strong>JavaScript</strong> is a programming language that is run by most modern browsers. It supports object-oriented programming and procedural programming. It can be used to control web pages on the client side of the browser, server-side programs, and even mobile applications.</p>
		</div>
	</div>

	 <div class="center">
 	<p>A little project could be used for FAQs.</p>
	<p>Skills: HTML, CSS, jQuery</p>
	<p>To see the code please visit my <a href="https://codepen.io/darkxangel84/pen/xXdNoJ" target="_blank"><strong>CodePen</strong></a></p>
 </div>
</div>
  @@include('_footer.html')