@@include('_header.html', { "pageTitle": "Projects - My Shopping List" })  

<div class="content-container">
	
	<div class="shoppingList">
	<img src="https://image.flaticon.com/icons/svg/34/34568.svg" alt="trolly">
	<h1>My Shopping List</h1>
	<p>Your Shopping list is empty, add something...</p>
</div>

	<form class="shoppingForm">
		<input id="itemInput" type="text" name="add" placeholder="add item to your list..">
		<input id="addtolistBtn" type="submit" value="Add to List">
	</form>
	<button id="addBtn">Add Item</button>

 <div class="center">
 	<p>A little project for adding your shopping to a list.</p>
	<p>Skills: HTML, CSS, jQuery</p>
	<p>To see the code please visit my <a href="https://codepen.io/darkxangel84/pen/xXdNoJ" target="_blank"><strong>CodePen</strong></a></p>
 </div>
	


	
</div>
  @@include('_footer.html')