@@include('_header.html', { "pageTitle": "Projects - My Doctor Who quiz" })  

<div class="border"></div>
<div class="content-container">
	<h1>Doctor Who quiz Made in JS</h1>
	<div class="questions-container">
		<p>I see you have stumbled across my Doctor Who quiz.</p>
		<p> Why not have a go and see how much you know about the show!</p>
		<label for="question1">Question 1: Who plays the 10th Doctor in Doctor Who?</label>
		<input id="question1" type="text" name="questionOne" class="questions">
		<br>
		<label for="question2">Question 2: What color is the Tardis?</label>
		<input id="question2" type="text" name="questionTwo" class="questions">
		<br>
		<label for="question3">Question 3: Who does Billie Piper play?</label>
		<input id="question3" type="text" name="questionThree" class="questions">
		<br>
		<label for="question4">Question 4: Who want to exterminate the Doctor?</label>
		<input id="question4" type="text" name="questionFour" class="questions">
		<br>
		<label for="question5">Question 5: What is the Metal dog who's a friend of the Doctors called?</label>
		<input id="question5" type="text" name="questionFive" class="questions">
		<button type="button" class="submitbtn">Submit Answers!</button>
		</div>
		<div class="score"></div>

	
	<p>Skills: HTML, CSS, Javascript</p>
	<p>To see the code please visit my <a href="https://github.com/darkxangel84/MyQuizs/blob/master/js/app.js" target="_blank"><strong>Github</strong></a></p>
	<a href="projects.html" class="playagain">Go back</a>
</div>
  @@include('_footer.html')