@@include('_header.html', { "pageTitle": "Projects - Louth Town Hall" })  
 <div class="hero-projects">
</div>

<div class="content-container flex">
	<div class="project-image">
		<img src="images/louthtownhallpreview.jpg" alt="louthtownhall">
		<a href="projects.html" class="backtoprojects"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back</a>
	</div>
	<div class="project-content">
		<h1>Louth Town Hall</h1>
		<p>Louth Town Hall, Situated in the historic market town of Louth, on the edge of the Lincolnshire Wolds.</p>
		<p> I built this site to help increase the amount of people using it, to book weddings, buy tickets for live music and so on</p>
		<p><i class="fa fa-check" aria-hidden="true"></i> Front End Skills: HTML, CSS (Scss), Jquery, Mobile Responsive</p>
		<a href="http://louthtownhall.co.uk/" class="websitebutton">Visit Website</a>
	</div>
</div>
 @@include('_footer.html')