@@include('_header.html', { "pageTitle": "Projects - NhantsCosplay" })  
 <div class="hero-projects">
</div>

<div class="content-container flex">
	<div class="project-image">
		<img src="images/nhantscosplaypreview.jpg" alt="nhantscosplay">
		<a href="projects.html" class="backtoprojects"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back</a>
	</div>
	<div class="project-content">
		<h1>NhantsCosplay</h1>
		<p>NhantsCosplay, I built for a local Anime group to help fans find local people with the same interests.</p>
		<p>The client wanted this site built to help increase cosplay &amp; anime fans in and around Northamptonshire to get together with the same interests</p>
		<p><i class="fa fa-check" aria-hidden="true"></i> Front End Skills: HTML, Sass, and jQuery</p>
		<a href="http://www.nhantscosplay.org.uk/" class="websitebutton">Visit Website</a>
	</div>
</div>
 @@include('_footer.html')