@@include('_header.html', { "pageTitle": "Projects - Louth Town Hall" })
<div class="hero-projects">
</div>

<div class="content-container flex">
    <div class="project-image">
        <img src="images/pieintheskypreview.jpg" alt="pieinthesky">
        <a href="projects.html" class="backtoprojects"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            Go back</a>
    </div>
    <div class="project-content">
        <h1>Pie in the Sky Tea Rooms</h1>
        <p>Pie in the Sky Tea Rooms in a cute little cafe in old town Hemel Hemstead, offers a range of teas, coffees,
            cakes and hot meals.</p>
        <p><i class="fa fa-check" aria-hidden="true"></i> Front End Skills: HTML, CSS (Scss), Jquery, Mobile Responsive</p>
        <a target="_blank" href="http://pieintheskytearooms.co.uk/" class="websitebutton">Visit Website</a>
    </div>
</div>
@@include('_footer.html')