@@include('_header.html', { "pageTitle": "Front-end web developer projects" })  
 <div class="hero-projects">
</div>

<div class="content-container">
	<h1>My Projects</h1>
	<p>I'm always learning something new and looking to improve. These are projects I have worked on in the last few years for clients and friends, and the Javascript ones are to pratice my skills.</p>

	<p>Below is a bunch of sites I have designed and hand coded so you can get a feel of what kinds of work I can do. If you click on each one it will take you to the live site.</p>

	<div class="recent-work">
		
		<div class="recent-work-container">
			<img src="images/nhantscosplaywebsite.jpg" alt="nhantscosplay">
			<div class="text-container">
    			<div class="text">
	    			<h4 class="margin-bottom-none">NhantsCosplay</h4>
	    			<p class="recent-work-description">This is a small site for local anime fans to meet others</p>
	    			<a class="button" href="nhantscosplay.html">View</a>
    			</div>
  			</div>
  		</div>

		<div class="recent-work-container">
			<img src="images/louthtownhallwebsite.jpg" alt="louthtownhall">
			<div class="text-container">
    			<div class="text">
    				<h4 class="margin-bottom-none">Louth Town Hall</h4>
    				<p class="recent-work-description">A venue for booking live music, and weddings</p>
    				<a class="button" href="louthtownhall.html">View</a>
    			</div>
  			</div>
		</div>

		<div class="margin-top-lg recent-work-container">
			<img src="images/spartancatswebsite.jpg" alt="spartancats">
			<div class="text-container">
    			<div class="text">
    				<h4 class="margin-bottom-none">Spartan Cats</h4>
    				<p class="recent-work-description">A website for helping street cats in Greece</p>
    				<a class="button" href="spartancats.html">View</a>
    			</div>
  			</div>
		</div>
	</div>
	<h2>JavaScript/jQuery Projects</h2>
	<p>I do have more projects I have worked on, but a lot of them are small things that I have over on my <a href="https://codepen.io/darkxangel84">codepen</a> or <a href="http://www.github.com/darkxangel84">github</a>. I will add more here soon</p>
	<div class="recent-work">

		<div class="recent-work-container">
			<img src="images/jsmovingdiv.jpg" alt="growing div">
			<div class="text-container">
    			<div class="text">
	    			<h4 class="margin-bottom-none">My growing div</h4>
	    			<p class="recent-work-description">A small project to pratice my Javascript skills</p>
	    			<a class="button" href="jsprojectone.html">View</a>
    			</div>
  			</div>
  		</div>

  		<div class="recent-work-container">
			<img src="images/jsquiz.jpg" alt="JavaScript Quiz">
			<div class="text-container">
    			<div class="text">
	    			<h4 class="margin-bottom-none">My Doctor Who Quiz</h4>
	    			<p class="recent-work-description">Just a small quiz to pratice my Javascript skills</p>
	    			<a class="button" href="jsquiz.html">View</a>
    			</div>
  			</div>
  		</div>

  	</div>
</div>
  @@include('_footer.html')