@@include('_header.html', { "pageTitle": "Projects - Spartan Cats" })  
 <div class="hero-projects">
</div>

<div class="content-container flex">
	<div class="project-image">
		<img src="images/spartancatspreview.jpg" alt="spartanCats">
		<a href="projects.html" class="backtoprojects"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back</a>
	</div>
	<div class="project-content">
		<h1>Spartan Cats</h1>
		<p>A small but very dedicated group of volunteers who live all over the world, working to help the street cats in Greece, and particularly on the Greek island of Poros.</p>
		<p>My client wanted this site built to help rehome &amp; raise funds for the street cats in Greece.</p>
		<p><i class="fa fa-check" aria-hidden="true"></i> Front End Skills: HTML, CSS (Scss), Jquery, Mobile responsive</p>
		<a href="http://www.spartancats.co.uk/" class="websitebutton">Visit Website</a>
	</div>
</div>
 @@include('_footer.html')