@@include('_header.html', { "pageTitle": "Projects - Travel Website" })  
 <div class="hero-projects">
</div>

<div class="content-container flex">
	<div class="project-image">
		<img src="images/example1preview.jpg" alt="travel website">
		<a href="projects.html" class="backtoprojects"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back</a>
	</div>
	<div class="project-content">
		<h1>Travel Website</h1>
		<p>Travel Website Template</p>
		<p>This is just a template I developed from stratch.</p>
		<p><i class="fa fa-check" aria-hidden="true"></i> Front End Skills: HTML, Sass, and jQuery</p>
		<a href="#" class="websitebutton">Visit Website</a>
	</div>
</div>
 @@include('_footer.html')